.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.heading{
    margin-top :11%;
    margin-left: auto;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
}
.line{

    border-top: 5px solid violet;
    margin-left: 42%;
    margin-right: 45%;

}

.text{
    justify-content: center;
    text-align: center;
}